@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;
}


.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}



.header-nav{
    display: flex;
    align-items: center;
    gap: 24px;
}


.header-nav>ul{
    display: flex;
    list-style-type: none;
    position: relative;
}

.header-nav>ul>li{
    margin-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #222222;
}

.header-nav>ul>li>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #222222;
}

.header-nav>ul>li:last-child{
    margin-right: 140px;
}

.drop-menu{
    position: relative;
}

.drop-menu::after{
    content: '';
    background: url(../img/strelka.svg) center center no-repeat;
    width: 8px;
    height: 5px;
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
}

.none{
    display: none;
    list-style-type: none;
    position: absolute;
}

.item{
    margin: 10px;
}


.drop-menu:hover .none{
    display: block;
}



.request{
    border: none;
    background: #0A61F7;
    border-radius: 4px;
    color: #FFFFFF;
}

.btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 15px 24px;
    cursor: pointer;
    text-decoration: none;
}









.hero-section{
    text-align: center;
    padding-top: 295px;
    padding-bottom: 315px;
    padding: 295px 0 315px 0;
    width: 100%;
    background: url(../img/header-bg.png) left top  no-repeat, #F3F8FF;
    background-size: cover;
}

.hero-section__p, .paragraph{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #657085;
}

.hero-section__h2{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 57px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #1C202B;
}




.operations{
    padding: 78px 136px;
}


.sides{
    display: flex;
    margin-top: 32px;
    gap: 48px;
}

.operation__button-group{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    gap: 8px;
}




.operation__btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    border-radius: 8px;
    height: 64px;
    border: none;
    padding: 10px;
    width: 350px;
    background: url(../img/button-icon-1.svg) left 25px center no-repeat, #ABCEFB;
}




.content__btn{
    border: none;
    background: #0A61F7;
    border-radius: 4px;
    color: #FFFFFF;
}


.operations__p{
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #657085;
}

.operations__h2{
    font-weight: 400;
    font-size: 39px;
    line-height: 48px;
    letter-spacing: 0.8px;
    color: #1C202B;
}

.blue{
    color: #0A61F7;
}



.operation__content__img{
    width: 686px;
    height: 412px;
    margin-bottom: 32px;
}


.operation__content__p{
    margin-bottom: 50px;
}